$fontOP: 'Open Sans', sans-serif;
$fontSP: 'Source Sans Pro', sans-serif;
$color: rgb(231, 76, 60);
$colorG: rgb(106, 106, 106);

%flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}