@font-face {
    font-family: "Gotham Rounded Medium";
    src: url("Gotham Rounded Medium.otf") format("truetype");
  }
  @font-face {
    font-family: "Gotham Rounded Book Italic";
    src: url("Gotham Rounded Book Italic.otf") format("truetype");
  }
  
  @font-face {
    font-family: "Gotham Rounded Bold";
    src: url("Gotham Rounded Bold.otf") format("truetype");
  }
  @font-face {
    font-family: "Gotham Rounded Book";
    src: url("Gotham Rounded Book.otf") format("truetype");
  }